<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">HSPA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" aria-current="page" routerLink="/">Buy</a> <!-- without routerLinkActiveOptions the buy button will always be highlighted, as the various subpages work on top of the root instead of being their own distinct pages, with exact, we can tell the app to look at the URL and highlight accordingly -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/rent-property">Sell</a> <!-- routerlink is a replacement for href that, unlike href, does not refresh the full page (thus resetting variables and such) -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/add-property">List Property (Free)</a> <!-- routerLinkactive is a class by angular that will highlight the element on the menu your page is on, making the text more distinct -->
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
